# INFO AT : https://tiswww.cwru.edu/php/chet/readline/readline.html
#           https://man.archlinux.org/man/readline.3
# This file controls the behaviour of line input editing for
# programs that use the GNU Readline library.  Existing
# programs include FTP, Bash, and GDB.
#
# You can re-read the inputrc file with C-x C-r.
# Lines beginning with '#' are comments.
#
# First, include any system-wide bindings and variable
# assignments from /etc/Inputrc
$include /etc/Inputrc
#
# Set various bindings for vi mode.
set editing-mode vi 

# Update the cursor in the terminal based on the vi mode
set show-mode-in-prompt on
set vi-ins-mode-string \1\e[5 q\2
set vi-cmd-mode-string \1\e[2 q\2

$if mode=vi
  #Only change key in 'normal' mode
  set keymap vi-command
  "n":  next-history
  "e":  previous-history
  "j":  vi-end-word
  "l":  vi-insertion-mode
  "i":  forward-char
  "k":  vi-search-again
  "L":  vi-insert-beg
 "C-D":  vi-eof-maybe
 "C-E":  emacs-editing-mode
 "C-G":  abort
 "C-H":  backward-char
 "C-J":  accept-line
 "C-K":  kill-line
 "C-L":  clear-screen
 "C-M":  accept-line
 "C-N":  next-history
 "C-P":  previous-history
 "C-Q":  quoted-insert
 "C-R":  reverse-search-history
 "C-S":  forward-search-history
 "C-T":  transpose-chars
 "C-U":  unix-line-discard
 "C-V":  quoted-insert
 "C-W":  unix-word-rubout
 "C-Y":  yank
 "C-_":  vi-undo
 " ":  forward-char
 "#":  insert-comment
 "$":  end-of-line
 "%":  vi-match
 "&":  vi-tilde-expand
 "*":  vi-complete
 "+":  next-history
 ",":  vi-char-search
 "-":  previous-history
 ".":  vi-redo
 "/":  vi-search
 "0":  beginning-of-line
 "1": to "9"  vi-arg-digit
 ";":  vi-char-search
 "=":  vi-complete
 "?":  vi-search
 "A":  vi-append-eol
 "B":  vi-prev-word
 "C":  vi-change-to
 "D":  vi-delete-to
 "E":  vi-end-word
 "F":  vi-char-search
 "G":  vi-fetch-history
 "K":  vi-search-again
 "P":  vi-put
 "R":  vi-replace
 "S":  vi-subst
 "T":  vi-char-search
 "U":  revert-line
 "W":  vi-next-word
 "X":  backward-delete-char
 "Y":  vi-yank-to
 "\\":  vi-complete
 "ˆ":  vi-first-print
 "_":  vi-yank-arg
 "‘":  vi-goto-mark
 "a":  vi-append-mode
 "b":  vi-prev-word
 "c":  vi-change-to
 "d":  vi-delete-to
 "f":  vi-char-search
 "h":  backward-char
 "k":  prev-history
 "m":  vi-set-mark
 "p":  vi-put
 "r":  vi-change-char
 "s":  vi-subst
 "t":  vi-char-search
 "u":  vi-undo
 "w":  vi-next-word
 "x":  vi-delete
 "y":  vi-yank-to
 "|":  vi-column
 "˜":  vi-change-case
$endif
