/* Notification center */
/* to update the css live use the following command */
/* notify-send.py a --hint boolean:deadd-notification-center:true
 * string:type:reloadStyle */

@import ".config/catppuccin/css/mocha.css";
* {
  transition: background-color 0.5s ease; /* Property, Duration, Timing Function */
}

.blurredBG,
#main_window,
.blurredBG.low,
.blurredBG.normal {
  background: @mantle;
  border-style: none;
  border-width: 0px;
  border-color: @peach;
  /* border-bottom: solid; */
  border-width: 1px;
}
.noti-center {
  margin-left: 9px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.noti-center.time {
  font-size: 122px;
  color: @mauve;
}

/* Notifications */

.title {
  font-weight: bold;
  font-size: 44px;
  margin-left: 5px;
  color: @peach;
}

.appname {
  font-size: 20px;
}

.time {
  font-size: 20px;
  color: @rosewater;
}
.in-center.body {
  font-size: 24px;
  color: @yellow;
}

.blurredBG.notification {
  background: @base;
  border-bottom-width: 2px;
  border-radius: 0 0 0 30px;
}

.blurredBG.notification.critical {
  background: @surface0;
}

.notificationInCenter.critical {
  background: @surface0;
}

/* Labels */

label {
  background: transparent;
}

label.notification {
}

label.critical {
  color: @red;
  background: @surface0;
}
label.deadd-noti-center.notification.title {
  margin-left: 15px;
  margin-bottom: 5px;
}
label.deadd-noti-center.notification.body {
  color: @yellow;
  margin-left: 20px;
}
label.deadd-noti-center.noti-center.date {
  color: @red;
  font-size: 32px;
}
.notificationInCenter {
  background: @surface0;
  border-radius: 15px;
  padding-bottom: 8px;
}
.notificationInCenter label.critical {
  color: @peach;
  background: @surface0;
}

label.deadd-noti-center.noti-center.delete-all {
  color: @yellow;
}

/* Buttons */

button {
  background: transparent;
  color: @peach;
  border-radius: 6px;
  border-width: 2px;
  border-color: @peach;
  background-position: 0px 0px;
  text-shadow: none;
  padding: 10px;
  margin: 10px;
}

button:hover {
}

/* Custom Buttons */

.userbutton {
  background: @mantle;
  color: @peach;
  font-size: 34px;
}

.userbuttonlabel {
}

.userbutton:hover {
  background: @crust;
}

.userbuttonlabel.buttonState1:hover {
}

button.buttonState2 {
  background: @surface0;
  color: @blue;
}

.userbuttonlabel.buttonState2 {
}

button.buttonState2:hover {
  background: @surface0;
  /* color: #f9e2af; */
}

/* Not working */
.userbuttonlabel.buttonState2:hover {
}

/* Images */

image.deadd-noti-center.notification.image {
  margin-left: 20px;
}
