/* Notification center */
/* to update the css live use the following command */
/* notify-send.py a --hint boolean:deadd-notification-center:true
 * string:type:reloadStyle */

* {
  transition: background-color 0.5s ease; /* Property, Duration, Timing Function */
}

.blurredBG,
#main_window,
.blurredBG.low,
.blurredBG.normal {
  background: #e6e9ef;
  border-style: none;
  border-width: 0px;
  border-color: #fe640b;
  /* border-bottom: solid; */
  border-width: 1px;
}
.noti-center {
  margin-left: 9px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.noti-center.time {
  font-size: 122px;
  color: #8839ef;
}

/* Notifications */

.title {
  font-weight: bold;
  font-size: 44px;
  margin-left: 5px;
  color: #fe640b;
}

.appname {
  font-size: 20px;
}

.time {
  font-size: 20px;
  color: #dc8a78;
}
.in-center.body {
  font-size: 24px;
  color: #df8e1d;
  /* background: #eff1f5; */
}

.blurredBG.notification {
  background: #ccd0da;
}

.blurredBG.notification.critical {
  background: #ccd0da;
}

.notificationInCenter.critical {
  background: rgba(155, 0, 20, 0.5);
}

/* Labels */

label {
  background: transparent;
}

label.notification {
}

label.critical {
  color: #000;
}
label.deadd-noti-center.notification.title {
  margin-left: 15px;
  margin-bottom: 5px;
}
label.deadd-noti-center.notification.body {
  color: #df8e1d;
  margin-left: 20px;
}
label.deadd-noti-center.noti-center.date {
  color: #d20f39;
  font-size: 32px;
}
.notificationInCenter {
  background: #ccd0da;
  border-radius: 15px;
  padding-bottom: 8px;
}
.notificationInCenter label.critical {
  color: #000;
}

label.deadd-noti-center.noti-center.delete-all {
  color: #df8e1d;
}

/* Buttons */

button {
  background: transparent;
  color: #fe640b;
  border-radius: 6px;
  border-width: 2px;
  border-color: #fe640b;
  background-position: 0px 0px;
  text-shadow: none;
  padding: 10px;
  margin: 10px;
}

button:hover {
}

/* Custom Buttons */

.userbutton {
  background: #e6e9ef;
  color: #fe640b;
  font-size: 34px;
}

.userbuttonlabel {
}

.userbutton:hover {
  background: #dce0e8;
  /* color: #d20f39; */
}

.userbuttonlabel.buttonState1:hover {
}

button.buttonState2 {
  background: #ccd0da;
  color: #1e66f5;
}

.userbuttonlabel.buttonState2 {
}

button.buttonState2:hover {
  background: #ccd0da;
  /* color: #df8e1d; */
}

/* Not working */
.userbuttonlabel.buttonState2:hover {
}

/* Images */

image.deadd-noti-center.notification.image {
  margin-left: 20px;
}
