* {
    BG:    #1E1E2Eff;
    BGA:   #FAB387ff;
    FG:    #CDD6F4ff;
    FGA:   #F38BA8ff;
    BDR:   #96CDFBff;
    SEL:   #1E1E2Eff;
    UGT:   #F38BA8ff;
    IMG:   #FAE3B0ff;
    OFF:   #585b70ff;
    ON:    #A6E3A1ff;
}
